<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if can_destroy_user? user %>
  | <%= link_to t("users.edit.delete"), user, data: {turbo_confirm: t("users.edit.confirm_text"), "turbo-method": :delete} %>
  <% end %>
</li>
